@font-face {
  font-family: 'Inconsolata';
  src: url('../fonts/Inconsolata-Regular.ttf') format('truetype');
}

.pageLayout {
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template-rows: [header-start] min-content [body-start] 1fr [footer-start] max-content [footer-end];
  grid-template-areas:
    'header'
    'body'
    'footer';
}
.header {
  padding: 10px 20px;
  grid-area: header;
}
.footer {
  padding: 10px 0 10px 0;
  text-align: center;
  font-size: 1rem;
  font-family: 'Inconsolata', monospace;
  grid-area: 'footer';
}
.imgIcon {
  font-size: 2.5rem;
  cursor: pointer;
  transition: color 0.5s;
}
.imgIcon:hover {
  color: #f5222d;
}
.wrapHeaderContent {
  display: grid;
  grid-template-columns: 5fr 5fr;
  align-items: center;
}
.headerLeftSide {
  display: grid;
  grid-template-columns: 0fr 1fr;
  align-items: center;
}
.headerRightSide {
  min-width: 0;
  overflow-x: hidden;
  margin-left: 40%;
}
.siteTitle {
  margin-left: 10px;
  cursor: pointer;
  transition: color 0.5s;
}
.siteTitle:hover {
  color: #f5222d;
}
.body {
  padding: 0 5% 0 5%;
  overflow-y: scroll;
  overflow-x: hidden;
  grid-area: body;
  position: relative;
}
.wrapDrawer {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
}
